<h2 mat-dialog-title> Редактирование сотрудника </h2>

<mat-dialog-content>
  <form [formGroup]="empForm">
    <p>
      <input placeholder="Фио" formControlName="fio" matInput required />
    </p>

    <p>
      <input placeholder="Мобильный телефон" type="tel" formControlName="phone" matInput />
    </p>

    <p>
      <label> Подразделение </label>
      <select formControlName="subdivision_id" required>
        <option [ngValue]="null"> Нет подразделения </option>
        <option *ngFor="let sub of subdivisions" [value]="sub.id">{{ sub.name }}</option>
      </select>
    </p>

    <p>
      <input placeholder="Должность" formControlName="position" matInput required />
    </p>

    <p>
      <label> Руководитель </label>
      <select formControlName="head_id">
        <option [ngValue]="null"> Нет руководителя </option>
        <option *ngFor="let e of data[0]" [value]="e.id">{{ e.fio }}</option>
      </select>
    </p>

    <p>
      <label> Помощник </label>
      <select formControlName="helper_id">
        <option [ngValue]="null"> Нет помощника </option>
        <option *ngFor="let e of data[0]" [value]="e.id">{{ e.fio }}</option>
      </select>
    </p>

    <p>
      <input placeholder="День рождения" type="date" formControlName="birthday" matInput />
    </p>

    <p>
      <input placeholder="Рабочий телефон" type="tel" formControlName="job_phone" matInput required />
    </p>

    <p>
      <input placeholder="Электронная почта" formControlName="email" matInput required />
    </p>

    <p>
      <input placeholder="Кабинет" formControlName="cabinet" matInput required />
    </p>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="cancel()" cdkFocusInitial>Cancel</button>
  <button type="submit" mat-flat-button color="primary" [disabled]="empForm.invalid" (click)="ok()">Ok</button>
</mat-dialog-actions>