



.employees-list{
  display: flex;
  overflow: scroll;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid;
  border-radius: 30px;
}

.news{
  margin: 1rem;
  padding: 1rem;
  border: 1px solid;
  border-radius: 30px;
}


.messuares{
  display: flex;

  margin: 1rem;
  padding: 1rem;
  border: 1px solid;
  border-radius: 30px;
}


.calendar{
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid;
    border-radius: 30px;
}

.messuares-list{
  margin: 1rem;
  padding: 1rem;
  border: 1px solid;
  border-radius: 30px;
  width: auto;
}






  