<!-- <div>
    <h1>Генератор QR-кода</h1>
    <qrcode [qrdata]="generateVcard()" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
</div> -->


<div class="employees">

    <div *ngIf="employees.length != 0">
        @for (e of employees; track $index) {
            <p> <app-employee [employee]="e"  (selectEmployee) = "editEmployee($event)"
                                              (deleteEmployee) = "dismissEmployee($event)"  /> </p>
        }
    </div>

    <button (click)="addEmp()"> 
        <mat-icon>add</mat-icon>
    </button>
    
</div>