<div style="width: 800px; height: 600px; border: 1px solid red;">
  <ngx-graph
    [view]="[800, 600]"
    [nodes]="nodes"
    [links]="links"
    [layout]="'dagre'"
    [enableZoom]="true"
    [autoZoom]="true">
    <ng-template #nodeTemplate let-node>
      <div style="padding: 10px; border: 1px solid blue; background-color: yellow; text-align: center;">
        {{ node.label }}
      </div>
    </ng-template>
    <ng-template #linkTemplate let-link>
      <svg:path
        [attr.marker-end]="'url(#arrow)'"
        style="stroke: #333; stroke-width: 2px;">
      </svg:path>
    </ng-template>
  </ngx-graph>
</div>

<svg>
  <defs>
    <marker id="arrow" viewBox="0 0 10 10" refX="8" refY="5" markerWidth="6" markerHeight="6" orient="auto">
      <path d="M 0 0 L 10 5 L 0 10 z" fill="#333" />
    </marker>
  </defs>
</svg>